* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: min(1fr, 200px) 4fr;
}

.right_side {
    grid-column-start: 2;
}

/* Header layout */
.header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px 40px;
    gap: 30px;
    background-color: #4980f751;
}

.search_bar {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

.user_info {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

input {
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 1.8rem;
    padding-left: 1rem;
}

.welcome_user {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 30px;
    align-items: center;
}

.welcome_user_text .user {
    font-size: 1.5rem;
}

.user {
    font-weight: 600;
}

.welcome_user .profile_pic {
    height: 4.5rem;
    width: 4.5rem;
}

.header_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    align-items: center;
    gap: 30px;
}

.header_buttons button {
    border-radius: 30px;
    padding: 12px;
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    width: 90px;
    background-color: #6366f1;
    color: #e2e8f0;
}

.icon {
    width: 1.5rem;
    display: grid;
    justify-self: center;
    align-self: center;
}

.profile_pic {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 2px;
    background-color: #8da6dc;
}

/* Sidebar layout */
.sidebar {
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 2fr;
    padding: 25px;
    background-color: #6366f1;
    color: #e2e8f0;
    height: 100vh;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.logo_icon {
    width: 3rem;
    display: flex;
    align-items: center;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.nav_icon {
    width: 1.5rem;
    display: flex;
    align-items: center;
}

.navigation,.navigation_additional {
    display: grid;
    grid-auto-rows: max-content;
    gap: 15px;
    margin-left: 25px;
    margin-top: 10px;
}

.navigation_additional {
    align-self: center;
}

.github_sidebar {
    display: grid;
    justify-content: center;
    align-self: center;
}

.github_sidebar img {
    width: 4rem;
}

/* Main content layout */
.main_content {
    background-color: #4980f718;
    display: grid;
    grid-template-columns: 70% 30%;
}

.section_title {
    font-size: 1.1rem;
    font-weight: 600;
}

.project_section {
    display: grid;
    padding: 20px;
    gap: 20px;
}

/* My projects section */
.project_content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}

.project {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    border-radius: 10px;
    background-color: #4980f751;
    padding: 20px;
    border-left: 7px solid #6d28d9;
    gap: 20px;
}

.project_info {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.project_links {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.project_links img {
    width: 2rem;
}

.project_name {
    font-weight: 700;
    font-size: 1.1rem;
}

.project_image img{
    width: 300px;
    height: 160px;
    border-radius: 10px;
}

/* Announcements and Trending section */
.main_content_rightside {
    display: grid;
    grid-template-rows: repeat(2, 350px) auto;
    padding: 20px;
    gap: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.announcements, .trending {
    display: grid;
    gap: 20px;
}

.announcements_content, .trending_content {
    display: grid;
    grid-auto-rows: 150px;
    overflow: auto;
    height: 315px;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    background-color: #bfdbfe;
}

.announcement_item {
    display: grid;
    overflow: hidden;
    gap: 5px;
    border-bottom: 1px solid #6d28d9;
}

.last {
    border: none;
}

.announcement_title {
    font-weight: 700;
    font-size: 0.9rem;
}

.announcement_text {
    font-size: 0.75rem;
}

/* footer layout */
.footer {
    font-size: 0.8rem;
    background-color: #4980f718;
    display: grid;
    justify-content: center;
    align-self: center;
    padding: 15px;
}