* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    grid-column-start: 2;
}

.sidebar {
    grid-row-end: span 2;
}

.main_content {
    grid-column-start: 2;
    grid-row-end: span 2;
}

.footer {
    grid-column: 1 / -1;
}