* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: min(1fr, 200px) 4fr;
    min-height: 100vh;
}

.right_side {
    grid-column-start: 2;
}

/* Header layout */
.header {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 20px 40px;
    gap: 30px;
    background-color: #4980f751;
}

.search_bar {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

.user_info {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

input {
    width: 100%;
    border-radius: 20px;
    border: none;
    height: 1.8rem;
    padding-left: 1rem;
}

.welcome_user {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 30px;
    align-items: center;
}

.welcome_user_text .user {
    font-size: 1.5rem;
}

.user {
    font-weight: 600;
}

.welcome_user .profile_pic {
    height: 4.5rem;
    width: 4.5rem;
}

.header_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    align-items: center;
    gap: 30px;
}

.header_buttons button {
    border-radius: 30px;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 110px;
    background-color: #6366f1;
    color: #e2e8f0;
}

.icon {
    width: 1.5rem;
    display: grid;
    justify-self: center;
    align-self: center;
}

.profile_pic {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    padding: 2px;
    background-color: #8da6dc;
}

/* Sidebar layout */
.sidebar {
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 2fr;
    padding: 25px;
    background-color: #6366f1;
    color: #e2e8f0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.logo_icon {
    width: 3rem;
    display: flex;
    align-items: center;
}

.nav_item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.nav_icon {
    width: 1.5rem;
    display: flex;
    align-items: center;
}

.navigation,.navigation_additional {
    display: grid;
    grid-auto-rows: max-content;
    gap: 15px;
    margin-left: 25px;
    margin-top: 10px;
}

.navigation_additional {
    align-self: center;
}

.github_sidebar {
    display: grid;
    justify-content: center;
    align-self: center;
}

.github_sidebar img {
    width: 4rem;
}

/* Main content layout */
.main_content {
    background-color: #4980f718;
}

/* footer layout */
.footer {
    font-size: 0.8rem;
    background-color: #4980f718;
}